server:
  port: 8080
spring:
  application:
    name: reverse-recipes
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${RECIPES_DB_URL}
    username: ${RECIPES_DB_USER}
    password: ${RECIPES_DB_PASS}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format-sql: true
      show-sql: true
  sql:
    init:
      platform: postgres